.loginButtons {
    background-color: #515151;
    border: 0px;
    padding: 10px;
}
.loginFields {
    background-color: #a3a3a3 !important;
    margin: 5px !important;
    padding: 5px !important;
    height: auto  !important;   
}

.loginFields:focus {
    border-bottom: 2px solid #f28714 !important;
}

.login-icon {
    padding: 5px;    
    cursor: pointer;
}