.loginButtons {
    background-color: #515151;
    border: 0px;
    padding: 10px;
}
.loginFields {
    background-color: #d3d3d3 !important;
    margin: 5px !important;
    padding: 7px !important;
    height: auto  !important;   
    border-radius: 5px;
    border-bottom: 3px solid #d3d3d3 !important;
}

.loginFields:focus {
    border-bottom: 2px solid #777 !important;
}

.login-icon {
    padding: 5px;    
    cursor: pointer;
    border-radius: 5px;
}