<div class="row">
	<div class="col s12 m5 l2 offset-l7">
		<input type="text" class="loginFields" name="form-login" id="form-login" />
	</div>
	<div class="col s12 m5 l2">
		<input type="password" class="loginFields" name="form-senha" id="form-senha" />
	</div>
	<div class="col s12 m2 l1 right-align">
		<input type="button" value="Entrar" class="loginButtons" (click)="doLogin()" />
	</div>
</div>
<div class="row">
	<div class="col s12 m12 l12 right-align">
		<input type="button" value="Esqueci a senha" class="loginButtons" />
	</div>
</div>
