.loginButtons {
    background-color: #515151;
    border: 0px;
    padding: 10px;
}
.loginFields {
    background-color: #d3d3d3 !important;
    margin: 5px !important;
    padding: 5px !important;
    height: auto  !important;   
}

.login-icon {
    padding: 5px;    
    cursor: pointer;
}