<form [formGroup]="formulario" *ngIf="!isLogado()">
    <div class="container" style="overflow: hidden">
        <div class="row">
            <div class="col s12 m2 l2 offset-m7 offset-l7">
                <input type="text" class="loginFields" formControlName="user" id="user" placeholder="Usuário" required />
            </div>
            <div class="col s12 m2 l2">
                <input type="password" class="loginFields" formControlName="pass" id="pass" placeholder="Senha" required (keydown.enter)="doLogin()" />
            </div>
            <div class="col s12 m1 l1 right">
                <i id="login-send" class="small material-icons grey darken-1 login-icon" (click)="doLogin()">send</i>
            </div>
        </div>
        <div class="row">
            <div class="col s12 m3 l3 offset-m7 offset-l9" (click)="esqueci()">
                <span class="login-icon">Esqueci a senha</span>
            </div>
        </div>
    </div>
</form>