<form [formGroup]="formulario" *ngIf="!isLogado()">
    <div class="container" style="overflow: hidden">
        <div class="row right" style="width: 99%;">
            <div class="col s12 m3 l2 offset-l2">
                <div *ngIf="errorMessage" class="errorMessage">
                    {{ errorMessage }}
                </div>            
            </div>        
            <div class="col s12 m3 l3">
                <input type="text" class="loginFields" formControlName="user" id="user" placeholder="Usuário" required />
            </div>
            <div class="col s12 m3 l3">
                <input type="password" class="loginFields" formControlName="pass" id="pass" placeholder="Senha" required />
            </div>
            <div class="col s2 m1 l1 right">
                <i class="small material-icons grey darken-1 login-icon" (click)="esqueci()" title="Esqueci minha senha">help</i>
            </div>    
            <div class="col s2 m2 l1 right">
                <i id="login-send" class="small material-icons grey darken-1 login-icon" (click)="doLogin()">send</i>
            </div>
        </div>
    </div>
</form>