<div class="container" *ngIf="isLogado()">
    <h3 class="section-title">Meu cadastro</h3>
    <form [formGroup]="formulario" (ngSubmit)="doSubmit(form)" *ngIf="atleta">
        <input type="hidden" name="token" id="token" formControlName="token" />
        <div class="row">
            <div class="col s12 m4 l4">
                <div class="row">
                    <div class="input-field col s12 m3 l3 center">
                        <img src="{{ getImage() }}" class="avatar" />
                    </div>
                </div>
            </div>
            <div class="col s12 m8 l6">
                <div class="row">
                    <div class="col s12 m4 l4">
                        <label for="nome">Nome</label>
                        <input id="nome" name="nome" type="text" class="validate" formControlName="nome" />
                    </div>
                    <div class="col s12 m4 l4">
                        <label for="apelido">Apelido</label>
                        <input id="apelido" name="apelido" type="text" class="validate" formControlName="apelido" />
                    </div>
                    <div class="col s12 m4 l4">
                        <label for="login">Login</label>
                        <input id="login" name="login" type="text" class="validate" formControlName="login" />
                    </div>
                </div>
                <div class="row">
                    <div class="col s12 m4 l4">
                        <label for="senha" title="Preencha apenas se desejar alterar">Senha</label>
                        <input id="senha" name="senha" type="password" formControlName="senha" title="Preencha apenas se desejar alterar" />
                    </div>
                    <div class="col s12 m4 l4">
                        <label for="confirmar_senha">Confirmar senha</label>
                        <input id="confirmar_senha" name="confirmar_senha" type="password" formControlName="confirmar_senha" />
                    </div>
                </div>
                <div class="row">
                    <div class="col s12 m12 l12">
                        <div class="file-field input-field">
                            <div class="btn">
                                <span>Trocar foto</span>
                                <input type="file" id="avatar" (change)="onFileChange($event)" #fileInput name="avatar" formControlName="avatar">
                            </div>
                            <div class="file-path-wrapper">
                                <input type="text" class="file-path validate" name="avatar_name" formControlName="avatar_name">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12 m4 l4">
                        <input type="checkbox" id="ativo" name="ativo" value="1" checked formControlName="ativo" />
                        <label for="ativo">Ativo</label>
                    </div>
                    <div class="col s12 m4 l4">
                        <input type="checkbox" id="goleiro_fixo" name="goleiro_fixo" formControlName="goleiro_fixo" value="1" />
                        <label for="goleiro_fixo">Goleiro</label>
                    </div>
                    <div class="col s12 m4 l4">
                        <input type="checkbox" id="machucado" name="machucado" value="1" formControlName="machucado" />
                        <label for="machucado">Machucado</label>
                    </div>
                </div>
                <div class="row" *ngIf="!salvando">
                    <div class="col s12 m4 l4">
                        <button class="btn waves-effect waves-light" type="submit" name="action">Salvar
                            <i class="material-icons right">save</i>
                        </button>
                    </div>
                    <div class="col s12 m4 l3 errorMessage" *ngIf="mensagemErro">
                        {{ mensagemErro }}
                    </div>
                    <div class="col s12 m4 l3 sucessMessage" *ngIf="mensagemSucesso">
                        {{ mensagemSucesso }}
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>