.entry {
    padding : 10px;
    margin-bottom: 5px;
}

.centered-content {
    /* autoprefixer: off */
    grid-template-columns: repeat(auto-fill, 40%);
}

.saldo p {
    font-size: 25pt;
}

.saldo {
    font-size: 40pt;
}