<div class="container" id="logged-bar" *ngIf="isLogado()">
    <div class="row">
        <div class="col s4 m4 l1 offset-l9 center login-icon" title="Meu cadastro">
            <a routerLink="cadastro">
                <i class="small material-icons grey lighten-1">art_track</i>
            </a>
        </div>
        <div class="col s4 m4 l1 center login-icon" title="Extrato" >
            <a routerLink="extrato">
                <i class="small material-icons grey lighten-1">attach_money</i>
            </a>
        </div>
        <div class="col s4 m4 l1 center login-icon" title="Sair">
            <a href="#" (click)="doLogout()">
                <i class="small material-icons grey lighten-1">highlight_off</i>
            </a>
        </div>
    </div>        
</div>
