<div class="row">
    <div class="col s12 m12 l4 card grey darken-1">
        Cadastro
    </div>
    <div class="col s12 m12 l4 card grey darken-1">
        Extrato
    </div>
    <div class="col s12 m12 l4 card grey darken-1">
        Sair
    </div>

    <!--
    <div class="col s12 m12 l4">
        <a class="waves-effect grey darken-1 btn">
            <i class="material-icons right">assignment</i>Cadastro</a>
    </div>
    <div class="col s12 m12 l4">
        <a class="waves-effect grey darken-1 btn">
            <i class="material-icons right">attach_money</i>Extrato</a>
    </div>
    <div class="col s12 m12 l4">
        <a class="waves-effect grey darken-1 btn" (click)="doLogout()">
            <i class="material-icons right">highlight_off</i>Sair</a>
    </div>
-->
</div>