<div class="container" *ngIf="estatistica">
    <h3 class="section-title">Estat&iacute;sticas</h3>
    <div class="centered-content">
        <div class="card col darken-1 z-depth-3">
            <div class="card-content center">
                {{ estatistica.sucessos.valor }}
            </div>
            <div class="card-action center">
                {{ estatistica.sucessos.titulo }}
            </div>
        </div>
        <div class="card col darken-1 z-depth-3">
            <div class="card-content center">
                {{ estatistica.fracassos.valor }}
            </div>
            <div class="card-action center">
                {{ estatistica.fracassos.titulo }}
            </div>
        </div>
        <div class="card col darken-1 z-depth-3">
            <div class="card-content center">
                {{ estatistica.total_atletas.valor }}
            </div>
            <div class="card-action center">
                {{ estatistica.total_atletas.titulo }}
            </div>
        </div>
    </div>
    <div class="row  z-depth-3">
        <div class="col s12 m6 l6">
            <h3>{{ estatistica.assiduidade.titulo }}</h3>
            <ol>
                <li *ngFor="let atleta of estatistica.assiduidade.atletas">{{ atleta.atleta }} ({{ atleta.contador }})</li>
            </ol>
        </div>
        <div class="col s12 m6 l6">
            <h3>{{ estatistica.balanidade.titulo }}</h3>
            <ol>
                <li *ngFor="let atleta of estatistica.balanidade.atletas">{{ atleta.atleta }} ({{ atleta.contador }})</li>
            </ol>
        </div>
    </div>
</div>