.card-content {
    font-size: 25pt;
}

.card-action {
    font-weight: bold;
}

.centered-content {
    /* autoprefixer: off */
    grid-template-columns: repeat(auto-fill, 32%);
}

.centered-content-full {
    display: grid;
    /* autoprefixer: off */
    grid-template-columns: repeat(auto-fill, 98%);
    justify-content: center;
    grid-gap: 10px;
}
