@media all and (max-width: 1000px){
    #conteudo {
        margin-top: 80px;
    }
}

body {
    margin: 0 0 0 0px;
    background-color: #e3e3e3;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    min-height: 100vh;
}

#topo {
    background-color: #515151;
    height: 70px;
    color: #e18109;
}

#topo .col {
    text-align: center;
}

#conteudo {
	flex: 1 0 auto;
}

#rodape {
    padding-top: 20px;
    background-color: #515151;
    bottom: 0px;
    display: block;
}

nav {
    background-color: transparent;
    box-shadow: none;
}

nav ul a:hover {
    background-color: #a3a3a3;
}

nav li {
    cursor: pointer;
    padding: 10px;
}

nav li:hover {
    cursor: pointer;
    background-color: #d3d3d3;
}

.logo {
    padding-top: 10px;
}

#rodape .row {
    padding-bottom: 30px;
}

i {
    padding: 10px;
}

.icon-text {
    color: #fff;
}

.login-icon {
    cursor: pointer;
}