<app-loading></app-loading>
<header id="topo">
    <div class="container">
        <nav>
            <div class="nav-wrapper">
                <a href="" class="brand-logo">
                    <img src="./assets/img/escudo.mi.png" title="Futebol" alt="Futebol" />
                </a>
                <a href="#" data-activates="mobile-demo" class="button-collapse">
                    <i class="material-icons">menu</i>
                </a>
                <ul class="right hide-on-med-and-down">
                    <li><a routerLink="noticias">Not&iacute;cias</a></li>
                    <li><a routerLink="regras">Regras</a></li>
                    <li><a routerLink="atletas">Atletas</a></li>
                    <li><a routerLink="estatisticas">Estat&iacute;sticas</a></li>
                </ul>
                <ul class="side-nav" id="mobile-demo">
                    <li><a routerLink="noticias">Not&iacute;cias</a></li>
                    <li><a routerLink="regras">Regras</a></li>
                    <li><a routerLink="atletas">Atletas</a></li>
                    <li><a routerLink="estatisticas">Estat&iacute;sticas</a></li>
                </ul>
            </div>
        </nav>
    </div>
</header>
<article id="conteudo">
    <router-outlet></router-outlet>
</article>
<footer id="rodape">
    <app-login></app-login>
    <app-logado></app-logado>
</footer>