<app-loading></app-loading>
<header id="topo">
    <div class="container">
        <nav>
            <div class="nav-wrapper">
                <a routerLink="" class="brand-logo">
                    <img src="./assets/img/escudo.mi.png" title="Futebol" alt="Futebol" id="escudo-grande" />
                    <img src="./assets/img/escudo.pq.png" title="Futebol" alt="Futebol" id="escudo-pequeno" />
                </a>
                <a href="#" data-activates="mobile-demo" class="button-collapse">
                    <i class="material-icons">menu</i>
                </a>
                <ul class="right hide-on-med-and-down">
                    <li><a class="menu" routerLink="">Home</a></li>
                    <li><a class="menu" routerLink="noticias">Not&iacute;cias</a></li>
                    <li><a class="menu" routerLink="regras">Regras</a></li>
                    <li><a class="menu" routerLink="atletas">Atletas</a></li>
                    <li><a class="menu" routerLink="estatisticas">Estat&iacute;sticas</a></li>
                </ul>
                <ul class="side-nav" id="mobile-demo">
                    <li class="label-menu">Foteba Objective</li>
                    <li><a class="menuMobile" routerLink="">Home</a></li>
                    <li><a class="menuMobile" routerLink="noticias">Not&iacute;cias</a></li>
                    <li><a class="menuMobile" routerLink="regras">Regras</a></li>
                    <li><a class="menuMobile" routerLink="atletas">Atletas</a></li>
                    <li><a class="menuMobile" routerLink="estatisticas">Estat&iacute;sticas</a></li>
                </ul>
            </div>
        </nav>
    </div>
    <div id="user-access">
        <app-login></app-login>
        <app-logado></app-logado>
    </div>
</header>
<article id="conteudo">
    <router-outlet></router-outlet>
</article>
<footer>
    <app-mensagem></app-mensagem>
</footer>
