@media all and (max-width: 1000px){
    #conteudo {
        margin-top: 80px;
    }
}

#topo {
    background-color: #515151;
    height: 70px;
    color: #e18109;
}

#topo .col {
    text-align: center;
}

#rodape {
    background-color: #515151;
    bottom: 0px;
    padding-top: 20px;
}

nav {
    background-color: transparent;
    box-shadow: none;
}

nav ul a:hover {
    background-color: #a3a3a3;
}

nav li {
    cursor: pointer;
    padding: 10px;
}

nav li:hover {
    cursor: pointer;
    background-color: #d3d3d3;
}

.logo {
    padding-top: 10px;
}

#rodape .row {
    padding-bottom: 30px;
}

i {
    padding: 10px;
}

.icon-text {
    color: #fff;
}

.login-icon {
    cursor: pointer;
}