@media all and (max-width: 1000px){
    #user-access {
        margin-top: 100px;
        position: relative;
    }
}

#topo {
    background-color: #515151;
    color: #e18109;
}

#topo .col {
    text-align: center;
}

#user-access {
    background-color: #515151;
    text-align: right;
}

nav {
    background-color: transparent;
    box-shadow: none;
}

.logo {
    padding-top: 10px;
}

i {
    padding: 10px;
}

.icon-text {
    color: #fff;
}

.login-icon {
    cursor: pointer;
}

a.menu:link, a.menu:visited, a.menu:active {
    text-decoration: none;
    color: #fff;
    padding: 3px;
    line-height: 20px;
    margin: 10px;
    padding: 5px;
}

a.menu:hover {
    padding: 3px;
    line-height: 20px;
    margin: 10px;
    padding: 5px;
    background-color: #d3d3d3;
}
