.toast {
    height: 80px;
    margin-bottom: 30px;
    min-height: auto;
    z-index: 1000;
}

.dismiss {
    margin-left: 20px;
    color: lightsalmon;
    background-color: transparent;
    border: 0px;
}