<nav>
    <div class="nav-wrapper">
        <a href="" class="brand-logo">
            <img src="./assets/img/escudo.mi.png" title="Futebol" alt="Futebol" />
        </a>
        <a href="#" data-activates="mobile-demo" class="button-collapse">
            <i class="material-icons">menu</i>
        </a>
        <ul class="right hide-on-med-and-down">
            <li><a class="menuitem" href="">HOME</a></li>
            <li>|</li>
            <li><a class="menuitem" href="noticias">NOT&Iacute;CIAS</a></li>
            <li>|</li>
            <li><a class="menuitem" href="regras">REGRAS</a></li>
            <li>|</li>
            <li><a class="menuitem" href="atletas">ATLETAS</a></li>
            <li>|</li>
            <li><a class="menuitem" href="estatisticas">ESTAT&Iacute;STICAS</a></li>
        </ul>
        <ul class="side-nav" id="mobile-demo">
            <li><a class="menuitem" href="">HOME</a></li>
            <li><a class="menuitem" href="noticias">NOT&Iacute;CIAS</a></li>
            <li><a class="menuitem" href="regras">REGRAS</a></li>
            <li><a class="menuitem" href="atletas">ATLETAS</a></li>
            <li><a class="menuitem" href="estatisticas">ESTAT&Iacute;STICAS</a></li>
        </ul>
    </div>
</nav>