<div class="container" *ngIf="podeRenderizar()">
    <h3 class="section-title">Pr&oacute;ximos jogos</h3>
    <div class="card grey lighten-3 z-depth-2" *ngFor="let jogo of jogos">
        <div class="card-content">
            <app-confirmacao [jogo]="jogo" (confirmacaoEvent)="listaJogos()"></app-confirmacao>
            <div class="right">
                <p class="red lighten-3 confirmacao" *ngIf="status(jogo) == 1">Jogo cancelado</p>
                <p class="orange lighten-3 confirmacao" *ngIf="status(jogo) == 2">Jogo não confirmado</p>
                <p class="green lighten-3 confirmacao" *ngIf="status(jogo) == 0">Jogo confirmado</p>
            </div>
            <a href="http://www.google.com.br/maps/place/{{ jogo.local.endereco }}" target="_blank">
                <i class="small material-icons grey z-depth-1 confirmacao" title="Ver local do jogo no Maps">location_on</i>
            </a>
            <div class="card-title">{{ jogo.inicio }}h | Local: {{ jogo.local.nome }} | Valor: R$ {{ valorDoJogo(jogo) }}</div>
            <h5>{{ jogo.confirmados.length }} confirmado(s) + {{ jogo.convidados.length }} convidado(s)</h5>
            <div class="centered-content">
                <div class="card col darken-1 z-depth-1" *ngFor="let confirmado of jogo.confirmados">
                    <app-cartao [atleta]="confirmado.atleta" [imagem]="getAvatar(confirmado.atleta, jogo)"></app-cartao>
                </div>
            </div>
            <h5>{{ jogo.balaniantes.length }} balaniante(s)</h5>
            <div class="centered-content">
                <div class="card col darken-1 z-depth-1" *ngFor="let balaniante of jogo.balaniantes">
                    <app-cartao [atleta]="balaniante.atleta" [imagem]="'./assets/img/balani.png'"></app-cartao>
                </div>
            </div>
        </div>
        <div class="card-action" *ngIf="">
            <a class="waves-effect waves-light btn">
                <i class="material-icons right">thumb_up</i>Confirmar</a>
        </div>
    </div>
</div>