/* You can add global styles to this file, and also import other style files */
* {
    font-family: 'Play', cursive;
    font-size: 15px;
}

.section-title {
    text-align: center;
    font-weight: bold
}

a:link, a:visited, a:active {
    text-decoration: none;
    color: #fff;
}

a:hover {
    color: #515151;
}

.errorMessage {
    background-color: #f28714;
    color: #fff;
    padding: 5px;
    width: 100%;
    margin: 5px;
    border-radius: 2px;
}

.row {
    margin-bottom: 0px;
}