/* You can add global styles to this file, and also import other style files */
* {
    font-family: 'Play', cursive;
    font-size: 15px;
}

.section-title {
    text-align: center;
    font-weight: bold;
    color: #a3a3a3;
}

a:link, a:visited, a:active {
    text-decoration: none;
    color: #fff;
    padding: 3px;
}

a:hover {
    color: #515151;
    padding: 3px;
}

.errorMessage {
    background-color: #f28714;
    color: #fff;
    padding: 5px;
    width: 100%;
    margin: 5px;
    border-radius: 2px;
}

.sucessMessage {
    background-color: darkgreen;
    color: #fff;
    padding: 5px;
    width: 100%;
    margin: 5px;
    border-radius: 2px;
}

#loading {
    text-align: center;
}

input {
    color : #515151;
}

.centered-content {
    display: grid;
    grid-template-columns: repeat(auto-fill, 200px);
    justify-content: center;
    grid-gap: 10px;
}

.confirmacao {
    padding: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    border-radius: 5px;
}
