/* You can add global styles to this file, and also import other style files */
* {
    font-family: 'Play', cursive;
    font-size: 15px;
}

.section-title {
    text-align: center;
    font-weight: bold
}