<div class="container" *ngIf="autenticacaoService.isLogged()">
    <div class="row">
        <div class="col s12 m12 l4 center">
            <a routerLink="cadastro">
                <i class="medium material-icons grey darken-1 circle login-icon">art_track</i>
                <p class="icon-text">Meu cadastro</p>
            </a>
        </div>
        <div class="col s12 m12 l4 center">
            <a routerLink="extrato">
                <i class="medium material-icons grey darken-1 circle login-icon">attach_money</i>
                <p class="icon-text">Extrato</p>
            </a>
        </div>
        <div class="col s12 m12 l4 center login-icon">
            <i class="medium material-icons grey darken-1 circle login-icon" (click)="doLogout()">highlight_off</i>
            <p class="icon-text">Sair</p>
        </div>
    </div>        
</div>
