.atleta {
    padding: 5px;
    min-height: 110px;    
}

.portrait {
    max-height: 100%;
}

.card {
    background-color: #d9e1dc;
}

.card-content {
    height: 120px;
    width: 120px;
}

.card-action {
    padding: 5px;
    color: #000;
}
